
body{
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
main,footer{
    display: flex;
    justify-content: center;
}

/*------- header Css   -------*/
header{
    background: #2D25A0;
}
.header-section{
 display:flex;
 
 justify-content: center;
 
 height: 677px;
 
}
.header-contain{
  width: 40%;
  color: cornsilk;
 
  margin-top: 130px;
  line-height: 50px;
}
.header-contain h1{
    font-size: 64px;
    
}
.header-contain a{
    color: cornsilk;
    text-decoration: none;
    
    padding: 10px 24px;
    background: #E02C6D;
    transition: 2s ;
}
.header-image{
    width: 556px;
    height: 438px;
    margin: 50px 0;      
}
.header-image img{
    width: 700px;
}

.header-contain a:hover{
    background-color: coral;
}
/*------ player Details ------*/
.player-details{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 27px;
    grid-column-gap: 30px;
    padding-top: 70px;
    width: 1050px;

}
.player{
    width: 330px;
    height: 474px;
    box-shadow: 1px 1px 20px 2px  gray;
    
}
.player img{
    width: 300px;
    height: 256px;
    
    margin-bottom: 0;
    margin: 15px
}
.player-title{
 padding: 0 15px;
}
.player-title h3{
    font-size: 28px;
    margin-top: 0;
    margin-bottom: 10PX;
}
.player-title p{
    color: darkgray;
    font-size: 16px;
    font-weight:normal;
    font-style: normal;
    line-height: 30px;
}

/*----- heighlite Section --------*/

.heigelite{
    
    width: 330px;
    height: 474px;
    box-shadow: 1px 1px 20px 2px  gray;
    margin: 50px auto;
    border-radius: 10px;
    
}
.heigelite img{
    width: 330px;
    height: 256px;
    
    margin-bottom: 0;
    border-top-left-radius:10px ;
    border-top-right-radius:10px ;
    
}
.heigelite h3{
    padding-left: 15px;
}
.heigelite p{
    padding-left: 15px; 
}

/*----------- footer start -----------*/
.footer-section{
width: 483px;
height: 213px;
margin-top: 186px;
}
.footer-image img{
    width: 483px;
    height: 110px;
}
.footer-icon{
 text-align: center;
}
.footer-icon i{
   width: 32px;
   height: 22px;
   color: gray;
   background-color: #ccc7c754;
   margin-right: 14px;
   text-align: center;
   justify-content: center;
   padding-top: 8px;
   border-radius: 100px;
}
.copyright h2{
    text-align: center;
    font-size: 18px;
    font-weight: 300;
}


/*----------- Media quari -------------*/


/*------------ Mobail device --------------*/
@media only screen and (max-width:688px){
    
    header{
        width: 100%;
        padding-right: 37px;
    }
  
    
    .header-section{
        display:block;          
        padding-bottom: 20px;
    
       }
       .header-contain{
        margin-top: 0px;
        padding-top: 80px;
        
        
        padding-left: 97px;
        
        
    }
    .header-contain h1{
        font-size: 36px;
        
    }
    .header-contain a{
        font-size: 16px;
        padding: 10px 24px;
        margin-left: 89px;
        
    }
    .header-image{
        width: 329px;
      
    }
    .header-image img{
        width: 329px;
        height: 259px;
        padding-left: 170px;
    }
    .player-details{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-row-gap: 27px;
        padding-top: 47px;
    }
    .player{
        margin: 0px auto;
            }
    
}